body{
    display: grid;
    grid-template-areas:"navbar navbar navbar navbar"
                        "pizzas pizzas pizzas pizzas"
                        "principal principal principal principal"
                        "piso piso piso piso";
    grid-template-rows: auto auto auto auto ;
    
    grid-template-columns: repeat(4, 1fr);                        
    background-image:url(../img/leña\ al\ fuego\ completa.jpeg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Indie Flower', cursive;
}