footer{
    grid-area: piso;
    background-color:aqua ;
    h5{
        font-style: italic;
        color: black;
        font-size: 15px;
    }
    img{
        width: 25px;
        height: 25px;
        margin-right: 5px;
        &:hover {
            transform: scale(1.1);
            transition: 1s;
        }
    
    }
}