footer{
    grid-area: piso;
    background-color:aqua ;
    h5{
        font-style: italic;
        color: black;
        font-size: 15px;
    }
    img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
        
    }
}