header{
    grid-area: pizzas ;

    img{
    display: inline-block;
    width: 97.5px;
    height: 98px;
    &:hover {
        transform: scale(1.1);
        transition: 1s;
    }
    }
@media(max-width:576px){
    img{
        width: 28px;
        height: 40px;
        &:hover {
            transform: scale(1.1);
            transition: 1s;
        }
    }
}
}
@media (max-width: 448px) {
    .pizzas img{
    width: 26.5px;
    height: 40px;
    margin-right: 0px;
    }
    h1 {
        font-size: 40px;
    }

}