main{
    grid-area: principal;
    }
    img {
    flex-direction: row;}
    
    &:hover{
    transform: scale(1.5);
    transition: 1s;
    }
    h1 {
    color: aqua;
    text-align: center;
    font-size: xxx-large;
    }
    p{
    color: white;
    font-size: 20px;
    margin: 15px;}
