main{
    grid-area: principal;
    }
    .morfame {
    flex-direction: row;
    
    
    }
    h1 {
    color: aqua;
    text-align: center;
    font-size: xxx-large;
    }
    p{
    color: white;
    font-size: 20px;
    margin: 15px;}

@media(max-width:576px){
    .morfame{
            width: 100%;
    }
}
