@import url('https://fonts.googleapis.com/css2? familia = Fascinado &family= Indie+Flower & display=swap');
*{
    margin: 0%;
    padding: 0%;
}
h1{
    color: aqua;
    text-align: center;
    font-size: xxx-large;
}

body {
    background-image:url(../img/leña\ al\ fuego\ completa.jpeg);
    background-size: auto;
    background-attachment: fixed;
    font-family: 'Indie Flower', cursive;
    display: grid;
    grid-template-areas:"pizzas pizzas pizzas"
                        "navbar navbar navbar"
                        "principal principal principal"
                        "piso piso piso";
    grid-template-rows: auto auto auto auto ;
    
    grid-template-columns: repeat(3, 1fr); 
}
.pizzas{
    grid-area: pizzas;
}
.navbar{
    grid-area: navbar;
}
.principal{
    grid-area: principal;
}
.piso{
    grid-area: piso;
}

footer h5{
    font-style: italic;
    color: white;
}
a{
    text-decoration: none;
}
.navbar{
    width: 100%;
    margin: 0%;
    height: 20px;
    background-color: aqua;
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
}
.redes img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.navbar ul {
    list-style: none;
    color: aqua;
    
}
.navbar ul li{
    display: inline-block;
    margin-left: 5px;
    color:darkmagenta ;
    position: relative;
    
}
.navbar ul li ul{
    display: none;
}
.navbar ul li:hover ul {
    display: block;
    position: absolute;
    background-color:aqua;
}
body header img {
    display: inline-block;
    width: 98px;
    height: 98px;
}

.divprovo{
    display: flex;
    justify-content: center;
    
}
.provolone{
    width:400px;
    height: 500px;
    padding: 10px;
    margin: 10px;
    
    
}
.provolone:hover{
    transform: scale(1.2);
    transition: 2s;
}
@media(max-width:576px){
    .pizzas img{
        width: 39.5px;
        height: 39.5px;
    }
}