@import url('https://fonts.googleapis.com/css2? familia = Fascinado &family= Indie+Flower & display=swap');
*{
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
}
body {
    display: grid;
    grid-template-areas:"navbar navbar navbar navbar"
                        "pizzas pizzas pizzas pizzas"
                        "principal principal principal principal"
                        "piso piso piso piso";
    grid-template-rows: auto auto auto auto ;
    
    grid-template-columns: repeat(4, 1fr);                        
    background-image:url(../img/leña\ al\ fuego\ completa.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Indie Flower', cursive;
}
.navbar{
    grid-area: navbar;
    background-color: aqua;
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 1;
}
.pizzas{
    grid-area: pizzas;
}
.navbar{
    grid-area: navbar;
}
.principal{
    grid-area: principal;
}
.piso{
    grid-area: piso;
    background-color:aqua 
}
.Parrafo{
    font-size: 10px;
    text-align: center;
    margin-top: 15px;
}

.logof{
    width: 50px;
    height: 50px;
    margin-left: 40%;
    margin-top: 15px;

}
.redsoc{
    margin-top: 15px;
    margin-right: 15%;
}

.red{
    margin: 15px;
    padding: 10px;
}
.redes{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    
    
}
.logot{
    margin-left: 15%;
}
@media(max-width:576px){
    .Parrafo{
        font-size: 10px;
        text-align: center;
        margin-top: 15px;
    }
    
    .logof{
        width: 30px;
        height: 30px;
        margin-left: 40%;
        margin-top: 15px;
    
    }
    .redsoc{
        margin-top: 15px;
    
    }
    
    .red{
        margin: 10px;
        padding: 5px;
    }
    .redes{
        margin-top: 10px;
        margin-left: 20px;
        display: flex;
        flex-direction: row;
    
    }
    .logot{
        margin-right: 10%;
    }
    
    
    .pizzas img{
            width: 38px;
            height: 39.5px;
        }

}

@media (max-width: 448px) {

    h5{margin-top: 5px;}
    
    .pizzas img{
        width: 26.5px;
        height: 40px;
        margin-right: 0px;
        }
    h1 {
            font-size: 40px;
        }
        
    
}

body header img {
    display: inline-block;
    width: 97.5px;
    height: 98px;
}
img:hover {
    transform: scale(1.1);
    transition: 1s;
}

h1{
    color: aqua;
    text-align: center;
    font-size: xxx-large;
}
hr{
    color: white;
    
}
body main{
    padding-left: 50px;
}

.redes img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
}
.mapa{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    color: aqua;
    
}

.navbar ul li ul{
    display: none;
}